# {deps, [{kvs, ".*", {git, "git://github.com/rosemqx/kvs", {tag,"master"}}},
#         {jsx, ".*", {git, "git://github.com/xio/jsx", {branch,"develop"}}},
#         {cuttlefish, ".*", {git, "git://github.com/rosemqx/cuttlefish", {branch,"develop"}}}
#        ]}.


{deps, [
        #{jsx, ".*", {git, "git://github.com/xio/jsx", {branch,"develop"}}},
        {cuttlefish, ".*", {git, "git://github.com/rosemqx/cuttlefish", {branch,"develop"}}}
       ]}.
